#main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #85dcba;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(8, 205, 227, 0.269);
  margin: 50px auto 50px auto;
  padding: 10px;
  max-width: 300px;
}

.input {
  min-width: 280px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}
.form-group {
  margin-top: 5px;
}
.warning {
  color: red;
  font-size: 14px;
}

.logina {
  width: 100%;
  padding: 10px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.logina:hover {
  background-color: #ff6600b7;
  cursor: pointer;
}

/* sau quên mật khẩu  */

a {
  color: #3b5998;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 30px 0;
}

.loginb {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.loginb:hover {
  background-color: #ff6600;
  color: white;
  cursor: pointer;
}

input.error {
  border: 1px solid red;
}
.warning {
  color: red;
}
.quenmk {
  color: aliceblue;
}
