.footer {
  background-color: #41b3a3;
  color: #666;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

.footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer .content .logo {
  font-weight: bold;
  font-size: 24px;
}

.footer .content .links ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer .content .links li {
  margin-right: 20px;
}

.footer .content .links a {
  color: #666;
  text-decoration: none;
}

.footer .content .social a {
  margin-right: 10px;
  color: #666;
  text-decoration: none;
  font-size: 20px;
}

.footer .content .social a:hover {
  color: #333;
}

.footer .bottom {
  margin-top: 20px;
  font-size: 12px;
}
